@font-face {
    font-family: MPlusRounded;
    src: url(../assets/MPLUSRounded1c-Black.ttf);
}
/* For testing */
/* * { border: 1px solid red !important; } */

.main_color {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}

.brand_title {
    color: white;
    font-size: 35px;
    font-weight: 900;
    font-family: MPlusRounded;
}

.logo {
    margin-left: 15%;
}

.custom_button {
    margin-top: 0%;
}

.click_to {
    position: absolute;
    top: 150vh;
    width: 100%;
    display: inline;
    height: 100px;
    background-color: white;
    color: black;
}

.page_container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.managing {
    color: aqua;
}

.organizing {
    color:deeppink;
}  

.container_1 {
    width: 50vw;
    height: calc(100vh - 79px);
    text-align: center;
}

.container_1 > h1 {
    text-align: left;
    margin-top: 12%;
    margin-left: 100px;
    color: white;
    font-weight: 800;
    font-size: 60px;
    line-height: 125%;
}

.container_1 > h3 {
    text-align: left;
    margin-top: 5%;
    margin-left: 100px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
}

.homepage_button {
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 100px;
    margin-top: 35px; 
    text-align: center;
    width: 250px;
    height: 50px;
}

.navbar-brand {
    margin-left: 100px;
}

.homepage_button > h3 {
    font-family: MPlusRounded;
    font-weight: 800;
    font-size: 30px;
}

.custom_homepageimage {
    float: right;
    width: 610px;
    border-radius: 25px 0 0 25px;
}

.container_2 {
    width: 50vw;
    height: calc(100vh - 79px);
    display: flex;
    justify-content: right;
    align-items: center;
}

@media (max-width: 550px) {
    .homepage_button {
        margin-left: auto;
        margin-right: auto;
        float: None;
        margin-top: 5%;
    }

    .brand_title {
        color: white;
        font-size: 25px;
        font-weight: 900;
        font-family: MPlusRounded;
    }

    .page_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: black;
    }

    .container_1 {
        height: 100%;
        margin-bottom: 10%;
        margin-right: 0px;
    }

    .container_1 > h1 {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        float: None;
        font-size: 37px;
    }
    
    .navbar-brand {
        margin-left: 5%;
    }

    .container_1 > h3 {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        float: None;
        font-size: 17px;
    }

    .container_2 {
        height: 544px;
        justify-content: center;
        height: 100%;
    }
    .container_1, .container_2 {
        width: 100%;
    }

    .custom_homepageimage {
        width: 100%;
        border-radius: 0;
    } 
}

@media (min-width: 551px) and (max-width: 1200px) {
    .page_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: black;
    }

    .container_1 {
        height: 100%;
        margin-bottom: 10%;
        margin-right: 10px;
    }

    .container_1 > h1 {
        margin-left: 15%;
        margin-right: 5%;
        float: None;
        width: 80%;
        font-size: 52px;
    }
    
    .navbar-brand {
        margin-left: 15%;
    }

    .container_1 > h3 {
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
        float: None;
        font-size: 23px;
    }

    .container_2 {
        height: 544px;
        justify-content: center;
    }

    .container_1, .container_2 {
        width: 100%;
    }

    .custom_homepageimage {
        width: 500px;
        border-radius: 25px 25px;
        margin-bottom: 10%;
    }    

    .homepage_button {
        margin-left: auto;
        margin-right: auto;
        float: None;
        margin-top: 5%; 
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .container_1 {
        height: 100%;
        margin-bottom: 10%;
        margin-right: 10px;
    }

    .container_1 > h1 {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        float: None;
        width: 90%;
        font-size: 55px;
    }

    .navbar-brand {
        margin-left: 2%;
    }

    .container_1 > h3 {
        width: 90%;
        margin-left: 5%;
        margin-right: 15%;
        float: None;
        font-size: 25px;
    }

    .custom_homepageimage {
        width: 610px;
        border-radius: 25px 0px 0px 25px;
        margin-bottom: 10%;
    }    

    .homepage_button {
        margin-left: 5%;
        margin-right: auto;
        float: left;
        margin-top: 5%; 
    }   

}